{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card mt-5">
            <div class="card-header bg-white"><h4 class="mb-0">Password Reset</h4></div>
            <div class="card-body">
                <form method="POST" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.username.label(class="form-label") }}
                        {{ form.username(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.notification_channel.label(class="form-label") }}
                        {{ form.notification_channel(class="form-select") }}
                    </div>
                    <button type="submit" class="btn btn-primary w-100">{{ form.submit.label.text }}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
